/* styles.css */

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:  #e9f9f2 ;/*#f1f3f8;*/
  color: #333;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

/* Header */
.site-header {
  background-color:  #e9f9f2 ; /*#f4fdf9;*/
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}


.logo-container {
  width: 100px; /* Adjust to the size you want */
  height: 60px; /* Crop top/bottom here */
  overflow: hidden;
  position: relative;
}

.logo {
  position: absolute;
  left: -12px;
  top: -75px; /* Adjust to remove top space */
  width: 300%; /* Zoom into the left 20% */
  height: auto;
}

.logo-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between logo and title */
}

.site-title {
  font-size: 1.5rem;
  white-space: nowrap;
 /* font-weight: bold; */
  color:  #36454f;
}


.nav-links a {
  font-size: 1.3rem;
  margin-left: 1rem;
  text-decoration: none;
  color: #36454f;
  /*font-weight: 500;*/
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #36454f;
}

.hero {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  background-image: url('images/membrane.svg');
  background-size: cover;
  background-position: center top  40% ; /* Shifts image down */
  background-repeat: no-repeat;
  /*position: relative; */
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 59, 92, 0.75); /* TU/e-style dark blue */
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: top center;
  color: #fff;
  z-index: 2;
}

.hero-text h1 {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: top center;
}

.hero-text p1 {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

/* Research Section (slightly overlaps the Hero Image) */
.research {
  background-color: #fff;  /* White background to differentiate from the image */
  padding: 10px 10px;  /* Reduce top padding */
  margin-top: -200px;  /* Adjust this to control overlap amount */
  position: relative;
  z-index: 1;
  max-width: 90%; /* Restrict the width to 80% of the viewport */
  margin-left: auto;
  margin-right: auto;
}


.research h2 {
  font-size: 1.8rem;
  color: #36454f;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 0;
}

.research p {
  font-size: 1.1rem;
  color: #444;
  font-weight: normal;
  text-align: justify;
  margin: 1.0rem; /* prevents added spacing */
  /*padding: 1px 1px;*/
}

/* Research, News, Publications, and Contact Sections */
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.section-title {
  font-size: 1.8rem;
  /*font-weight: bold;*/
  font-weight: normal;
  color: #36454f;
  white-space: nowrap;
  margin: 0;
  margin-top: 0.5rem;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #36454f;
  border: none;
}

section {
  padding: 3rem 2rem;
  text-align: center;
}

section h2 {
  font-size: 1.8rem;
  color: #3c4f76;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

section p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

/* Style for the 'Read More' link */
.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(0, 59, 92, 0.75); /*#8a9ac3;*/
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  margin-top: 1px;
}

.read-more:hover {
  background-color: rgba(0, 59, 92, 0.75); /*#6b7a9b;*/
  transform: translateY(-2px);
}

/* Publications */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 1rem;
}

ul li a {
  text-decoration: none;
  color: #3c4f76;
  font-size: 1.1rem;
}

ul li a:hover {
  color: #e27d60;
}

/* Footer */
.footer-divider {
  width: 95%; /* Same width as sections */
  margin: 2rem auto; /* Adjusted to align with section margins */
  border: none;
  height: 1px;
  background-color: #36454f;
  /*opacity: 0.5;*/
}

.site-footer {
  background-color: #f1f3f8;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #888;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .nav-links a {
    display: inline-block;
    margin: 0.5rem;
  }
}
